*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    /* font-family: 'Poppins', sans-serif; */
        font-family: 'Josefin Sans', sans-serif;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    color: #E6B2A2;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* width: 100px; */
    /* top: 50%; */
}

.nav-padding {
    height: 65px;
}

.logo-wrapper{
    display: flex;
    /* justify-content: space-around; */
    /* padding-top: 10px; */
}
h4{
    font-weight: normal;
        color: #E6B2A2;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 20px;
            font-weight: normal;
            padding-top: 22px;
            padding-left: 5px;
}

@media screen and (max-width: 363px) {
    h4 {
        font-size: 16px;
    }
}

/* .logo-text { */
    /* text-align: left; */
    /* display: inline-block; */
    /* display: flex; */
    /* vertical-align: middle ; */
    /* padding-bottom: 10px; */
    /* top: 50%; */
/* } */

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #E6B2A2;
    text-decoration: none;
    letter-spacing: 3px;
    /* font-weight: bold; */
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #88b193;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1280px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
from{
    opacity: 0;
    transform: translateX(50px);
}
to{
    opacity: 1;
    transform: translateX(0px);
}
}

.spacer {
    background-color: #88B193;
    height: 10vh;
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
        font-family: 'Josefin Sans', sans-serif;}


.footer {
    background-color: #88B193;
    color: #fff;
    z-index: 1;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo {
    width: 100%;
    /* max-width: 80px; */
    height: auto;
}

.footer-logo-link {
    display: inline-block;

}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #F2D594;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #E6B2A2;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #E6B2A2;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    /* font-size: 11px; */
    /* font-weight: 900; */
    line-height: 18px;
    /* padding: 12px 30px; */
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #F2D594;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

h2 {
    padding-top: 20px;
}


/* 
.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
} */

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #F2D594;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


/* .mainhero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to bottom left,
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, 1)), url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    filter: grayscale(40%);
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.head-hero-body {
    height: 100vh;
    background-image: url(Assets/images/jump.jpg);
    background-size: cover;
    filter: grayscale(30%);
    /* background-image: url(Assets/images/logopng.png); */
}

.main-about-hero-body {
    /* height: 100vh; */
    /* background-image: url(Assets/images/AboutMain.jpg); */
    /* background-color: #88B193; */
    /* background-image: linear-gradient(to right, #88B193 50%, white 50%) */
    /* background-size: cover; */
    /* filter: grayscale(20%); */
    /* background-image: url(Assets/images/logopng.png); */
    /* opacity: 0.8; */
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    padding-bottom: 30px;
}

.title-wrapper {
    background-color: #88B193;
    outline: 2px solid white;
    outline-offset: -8px;
    /* padding: 5px; */
}

.our-story-hero {
    /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0; */
    /* background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px; */
    background-color: #88B193;
    padding: 20px 0 20px 0;
}

.our-story-text {
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-size: 20px;
    padding: 0 10px 0 10px;
}

.page-title {
    font-family: 'Josefin Sans', sans-serif;
    color: #F2D594;
    text-align: center;
    font-size: 80px;
    padding-top: 200px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    color: #F2D594;
}

.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.core-values-hero {
    color:white;
    /* background-color:#F2D594; */
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
        background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


.logo-only {
    transform: scale(0.5)
}
.core-values-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.core-values-patch {
    background-color:#F2D594;
    outline: 2px solid white;
    outline-offset: -12px;
}

.core-values-inspire {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    padding: 0 0 20px 0;
}

.value-title{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.value-subtitle {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.vertical {
    border-left: 6px solid white;
    /* text-align: center; */
    /* height: 100px; */
    /* position: absolute; */
    /* left: 50%; */
           }

/* .hero {
    padding-top: 200px;
    height: 100vh;
} */
/* .imgA1 {
    padding-top: 60px;
    z-index: 1;
    background-size: cover;
} */

.imgB1 {
    padding: 0 0 0 0;
    margin-top: -120px;
    z-index: 3;
    transform: scale(0.55);
    /* height: 100vh; */
    /* margin-top: -15%; */
    /* align-items: center; */
    /* width: 20% */
        opacity: 0;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
}

@media screen and (max-width: 1500px) {
    /* .hero-body {
        background-position: 25% 0%
    } */

    .imgB1 {
        transform: scale(0.65);
        padding: 0px 0 0 0;
        margin-top: -60px;
    }
}

@media screen and (max-width: 1170px) {
    .top-hero-body{
        background-position: 50% 0%
    }
    .imgB1 {
        transform: scale(0.85);
        padding: 100px 0 0 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav-padding{
        height: 0;
    }
}

@media screen and (max-width: 900px) {
    .imgB1 {
        transform: scale(0.95);
        padding: 120px 0 0 0;
    }
    .top-hero-body{
    background-position: 50% 0%
    }
    }

@media screen and (max-width: 720px) {
    .imgB1 {
        transform: scale(1);
        padding: 120px 0 0 0;
    }
                .top-hero-body {
                    background-position: 50% 0%
                }
}

@media screen and (max-width: 600px) {
    .imgB1 {
        transform: scale(1);
        padding: 120px 0 0 0;
    }

    .top-hero-body {
        padding: 120px 0 0 0;
        /* height: 50vh; */
    }
}

/* .first-image {
    background-size: cover;
    background-image: url(Assets/images/kidsplaying.jpg)
} */

.imghero {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    /* background-position: center */
}

@media screen and (max-width: 765px) {
.imgB1 {
    /* margin-top: 0; */
}
}

@media screen and (max-width: 765px) {
    .imgB1 {
        /* margin-top: 5%; */
    }
}

/* @media screen and (max-width: 395px) {
    .imgB1 {
        margin-top: 10%;
    }
} */




.border-text {
    width: 160px;
    text-transform: uppercase;
    z-index: 1;
    font-size: 18px;
    letter-spacing: 1.8px;
    /* color: $gold; */
    text-align: left;
    overflow: hidden;
}

.main-page-section-title {
    padding-top: 10px;
    /* padding-bottom: 20px; */
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}


.who-we-are-hero {
    background-color: white;
    color: #88b193;
    font-family: 'Josefin Sans', sans-serif;
    /* height: 80vh; */
    padding: 0 0 5% 0;
    /* background-color: #ffffff; */
    /* opacity: 0.8; */
    font-size: 18px;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.who-we-are-hero-column {
    padding: 5% 0 0px 0;
}

.our-program-main-hero {
    background-color:#88B193;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 2% 0 2% 0;
        /* height: 90vh; */
}

.our-program-title {
    color: white;
    /* color:#88B193; */
    /* border-radius: 1em 5em; */
    ;
}

.main-about-us-box {
    /* border-radius: 25px; */
        background: #88b193;
        /* padding: 20px; */
        /* max-width: 80%; */
        /* width: 200px;
        height: 150px; */
        float: center;
        /* border-radius: 4em 0em; */
        outline: 2px solid white;
        outline-offset: -12px;
        
}

.about-us-button {
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E6B2A2;
    color: white;
    cursor: pointer;
}

.about-us-button:hover {
        background-color: white;
        color: #E6B2A2;
}

.button-link:hover {
    color:#E6B2A2
}

.photo-column {
    padding: 5% 0 0 0;
}

.school-img {
    box-shadow:
        -50px -50px 0 -40px,
        50px 50px 0 -40px;
    color: #88B193;
}

.children-img {
    box-shadow:
        -50px -50px 0 -40px,
        50px 50px 0 -40px;
    color: white;
}

.founder-img {
    box-shadow:
        -50px -50px 0 -40px,
        50px 50px 0 -40px;
    color: white;
}

.squad-img {
    box-shadow:
        -50px -50px 0 -40px,
        50px 50px 0 -40px;
    color: white;
}



.main-our-program-column {
    padding: 0 1% 3% 1%;
}

/* .our-program-steps-box{
    background-color: white;
    color:#88B193;
} */

.main-our-program-box {
    background-color: white;
    color: #88B193;
    padding: 10px;
    /* border-radius: 0em 4em;
     */
    outline: 2px solid #88B193;
    outline-offset: -12px;
}

.main-insurance-box {
            background-color: white;
            color:#88B193;
            padding: 20px;
            /* border-radius: 4em 0em; */
                outline: 2px solid #88B193;
                    outline-offset: -12px;
}

.main-text {
    font-size: 18px;
    color: white;
    padding: 4% 4% 4% 4%;
    text-align: left;
}



.main-our-program-text {
    font-size: 18px;
    color: #88B193;
    padding: 4% 4% 4% 4%;
}

@media screen and (max-width: 638px) {
.main-text {
    font-size: 16px;
    color: white;
    padding: 12% 8% 12% 8%;
    }
.main-about-us-box {

    background: #88b193;
    padding: 35px;
    /* max-width: 80%; */
    float: center;
    /* border-radius: 5em 1em; */

}
}

.main-insurance-text {
    font-size: 18px;
    color:#88B193;
    padding: 0 4% 4% 4%;
}

    .reach-out-hero {
        background-color: white;
        color: #E6B2A2;
        font-family: 'Josefin Sans', sans-serif;
                opacity: 0.8;
                    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
                    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
            }

.reach-out-box {
    background: #88b193;
    padding: 35px;
    /* max-width: 80%; */
    float: center;
    /* border-radius: 1em 1em;
     */
}




/* body {
    background-color: #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
    text-align: center;
    padding-bottom: 20px;
    /* outline: 2px solid white;
    outline-offset: -12px; */
}

.waviy span {
    font-family: 'Josefin Sans',
        sans-serif;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}








.our-team-hero {
    display: flex;
    padding: 0 35px;
    padding-bottom: 35px;
    align-items: center;
    position: relative;
    justify-content: center;
    /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0; */
    /* background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;    font-family: 'Josefin Sans', sans-serif; */
    background:#88B193;
    }

.wrapper {
    /* min-height: 100vh; */
    max-width: 1100px;
    width: 100%;
}

.our-team-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color:#F2D594;
    /* background-color:#88B193; */
    font-size: 40px;
    /* text-transform: uppercase; */
    font-family: 'Josefin Sans', sans-serif;
}

.title-wrap{
    background-color:#88B193
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: 16%;
    z-index: 9;
}

.wrapper i:last-child {
    right: 16%;    
}

@media screen and (max-width: 1600px) {
.wrapper i:first-child {
        left: 10%;
    }
.wrapper i:last-child {
        right: 10%;
    }
}

@media screen and (max-width: 1400px) {
    .wrapper i:first-child {
        left: 5%;
    }

    .wrapper i:last-child {
        right: 5%;
    }
}

@media screen and (max-width: 1240px) {
    .wrapper i:first-child {
        left: 0%;
    }

    .wrapper i:last-child {
        right: 0%;
    }
}


.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background-color:white;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background:#F2D594;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.card .img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color:#88B193;
}

.carousel .card span {
    color:#88B193;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.join-us-hero {
    /* height: 100vh; */
    width: 100%;
        /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0; */
            /* background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;    font-family: 'Josefin Sans', sans-serif; */
    /* background-image: url(Assets/images/jump.jpg); */
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.join-us-column {
    filter: grayscale(100%);
    display: flex;    
    background-image: url(Assets/images/jump.jpg);
    /* height: 400px; */
    object-fit: scale-down; 
    background-size: cover;   
    outline-offset: -12px;
    outline: 2px solid white;
}

.join-us-title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color:#F2D594;
    font-size: 40px;
}

.join-us-text {
    font-size: 18px;
    color: white;
    padding: 4% 4% 4% 4%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.top-body {
    padding-top: 80px;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .top-body {
    padding-left: 0;
    padding-top: 100px;
    }
}

.under-construction-hero {
    padding-top: 20px;
    padding-bottom: 20px;
}

.under-construction-banner {
    font-size: 18px;
    /* color: white; */
    padding: 4% 4% 4% 4%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#88B193;
    outline-offset: -12px;
    outline: 2px solid white;
}

.under-construction-title {
    color:#F2D594;
    font-size: 40px;
}

.under-construction-text {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


.page-wallpaper {
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.title-hero {
    padding-bottom: 30px;
}

.privacy-policy-section {
    background-color:#88B193;
    outline-offset: -12px;
        outline: 2px solid white;
        padding: 10px 10px 10px 10px;
}

.privacy-text {
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.privacy-highlight {
    color:#F2D594
}

.bottom-hero {
    padding-bottom: 30px;
    padding-top: 20px;
}

details {
    background-color:#88B193;
    color: #fff;
    font-size: 1rem;
}

summary {
    font-size: 1.5rem;
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
    color:#F2D594;
    text-align:left;
}

summary::-webkit-details-marker {
    display: none;
}

summary:hover {
    cursor: pointer;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

.section-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color:#F2D594;
    font-size: 36px;
}

.faq-column {
    background-color:#88B193
}

.our-services-hero {
    background-color:#88B193;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px 4px 30px 4px;    
    font-size: 16px;
}

.highlighted-text {
    color:#F2D594;
    font-size: 20px;
    /* float: left; */
}

/* .our-services-text{
    float: left;
} */

.photo-img{
    box-shadow:
        -50px -50px 0 -40px,
        50px 50px 0 -40px;
         color: white;
}

/* .top-hero {
    padding-bottom: 20px;
} */

.insurance-main-hero {
    background-color: #88B193;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0 10px 0;
}

.insurance-text {
    padding: 10px 4px 10px 4px;
}

.aba-hero {
    /* background-color: #88B193; */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 30px 0 30px 0;
}

.aba-column {
    background-color:#88B193;
    padding: 20px 12px 20px 12px;
    outline-offset: -12px;
        outline: 2px solid white;
            /* padding: 10px 10px 10px 10px; */
}

.aba-title {
    text-align: center;
    color:#F2D594;
    font-size: 36px;
}

.aba-text {
    color: white;
}


.contact-us-hero {
    /* height: 100vh; */
    width: 100%;
    /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0; */
    /* background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;    font-family: 'Josefin Sans', sans-serif; */
    /* background-image: url(Assets/images/jump.jpg); */
    /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px; */
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-us-main-hero {
    /* height: 100vh; */
    width: 100%;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;    font-family: 'Josefin Sans', sans-serif;
    /* background-image: url(Assets/images/jump.jpg); */
    /* background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#F2D594 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #F2D594 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px; */
    padding-top: 30px;
    padding-bottom: 20px;
}

.topic-title {
    color:#F2D594;
}